# http://editorconfig.org

# this file is the top-most editorconfig file
root = true

[Makefile]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = false
trim_trailing_whitespace = true
